<header>
  <div>
    <h2>PROJECTS</h2>
    <%= link_to 'New Project', new_project_path, class: "btn" %>
  </div>
</header>


<main>
  <% @projects.each do |project| %>
      <section class="project">
        <div class="name">
          <h3>
            <%= link_to project do %>
              <%= project.name %>
            <% end %>
          </h3>
        </div>
        <div class="options">
          <%= link_to 'Raname', edit_project_path(project) %>
          <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </div>
        <hr>
      </section>
  <% end %>
</main>





