<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
  <!-- like button -->
  <a class="_ebwb5 _1tv0k _345gm coreSpriteHeartOpen" href="#" role="button" data-reactid=".0.1.0.1.0.$1179872441708307950.2.2.0">Like</a>
</p>

<strong>Phases:</strong>
<% @project.phases.each do |phase| %>
    <p>Description: <%= phase.description %></p>
    <% p "~"*1000; p phase.items; p "~"*1000 %>
    <% phase.items.each do |item| %>
      <p>URL: <%= item.url %></p>
    <% end %>
    <%= link_to 'Add Item', new_item_path(phase.id) %>
<% end %>
<h3>New Phase</h3>
<%= render 'phases/form' %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
