<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<strong>Phases:</strong>
<% @project.phases.each do |phase| %>
    <p>Description: <%= phase.description %></p>
    <% phase.items.each do |item| %>
      <p>URL: <%= item.url %></p>
    <% end %>
    <%= link_to 'Add Item', new_item_path(phase.id) %>
<% end %>
<h3>New Phase</h3>
<%= render 'phases/form' %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
