<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
  <%= link_to 'Edit', edit_project_path(@project) %>
</p>

<strong>Phases:</strong>
<% @project.phases.each do |phase| %>
    <p>Description: <%= phase.description %></p>
    <p><%= link_to 'Edit', edit_phase_path(phase.id) %></p>

    <% phase.items.each do |item| %>
      <%= link_to item_path do %>
        <p><%= item.name %></p>
        <p><%= item.description %></p>
        <p><iframe width="260" height="200" src="https://www.youtube.com/embed/<%= item.url %>" frameborder="0" allowfullscreen></iframe></p>
        <p><%= link_to 'Edit', edit_item_path(item.id) %></p>
      <% end %>

    <% end %>

    <%= link_to 'Add Item', new_item_path(phase.id) %>
<% end %>
<h3>New Phase</h3>
<%= render 'phases/form' %>

<%= link_to 'Back', projects_path %>
