<header>
  <div>
    <%= link_to project_path, class: "project-name" do %>
      <h3><%= @project.name %></h3>
    <% end %>
    <%= link_to 'Projects', projects_path, class: "btn" %>
  </div>
</header>

<main>
  <% @project.phases.each do |phase| %>
      <section>
        <hr>
        <div class="description">
          <h4><%= phase.description %></h4>
        </div>
        <div class="options btn-small">
          <%= link_to 'Rename', edit_phase_path(phase.id) %>
          <%= link_to(new_item_path(phase.id)) do %>
            <i class="fa fa-plus-square"></i>
          <% end %>
          <%= link_to phase, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </div>

          <div id="item-container">
            <% phase.items.each do |item| %>
              <%= link_to item_path do %>
            
                <article>
                  <h4><%= item.name %></h4>

                    <div class="btn-small">
                      <%= link_to 'Edit', edit_item_path(item.id)%>
                      <%= link_to item, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-trash"></i>
                      <% end %>
                    </div>

                  <p><%= item.description %></p>
                  <iframe width="280" height="200" src="https://www.youtube.com/embed/<%= item.url %>" frameborder="0" allowfullscreen></iframe>
                  
                </article>
              <% end %>
            <% end %>
          </div>
      </section>

  <% end %>
  <section>
    <%= render 'phases/form' %>
  </section>
</main>
