<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<strong>Phases:</strong>
<% @project.phases.each do |phase| %>
    <p><%= phase.description %></p>
    <% p "~"*1000; p phase.items; p "~"*1000 %>
    <% phase.items.each do |item| %>
      <iframe width="420" height="315" src="#{item.url}" frameborder="0" allowfullscreen></iframe>
      <p><% item.description %></p>
    <% end %>
<% end %>

<h3>New Phase</h3>
<%= render 'phases/form' %> 

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
