<%= form_for(@phase) do |f| %>
  <% if @phase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phase.errors.count, "error") %> prohibited this phase from being saved:</h2>

      <ul>
      <% @phase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form" id="phase-form">
    <div class="field">
      <%= f.text_field :description, class: "transparent text", placeholder: "Add Phase #" %>
    </div>
    <div class="actions">
      <%= f.submit 'Submit', class: "submit"%>
    </div>
  </div>

   <div class="field">
    <% unless @project.nil? %>
      <%= f.hidden_field :project_id, value: @project.id %>
    <% end %>
    </div>

<% end %>
