<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @phase.description %>
</p>

<p><%= params %></p>

<%= link_to 'Edit', edit_phase_path(@phase) %> |
<%= link_to 'Back', @phase.project %>
